/.idea/encodings.xml
/.idea/jsLibraryMappings.xml
/.idea/libraries/microblog_node_modules.xml
/.idea/microblog.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/.name
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/node_modules/*
